# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Instrumented libs
lib-cov

# Coverage output
coverage
*.lcov
.nyc_output

# Build artifacts
build/
dist/
dist-ssr/
out/
*.tgz

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Cache directories
.cache/
.parcel-cache/
.temp/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional npm/yarn/pnpm caches
.npm/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.yarn-integrity

# TypeScript
*.tsbuildinfo

# Linters cache
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build system directories
.grunt/
.lock-wscript/

# Frameworks
.next/
.nuxt/
.vuepress/dist
.docusaurus/
.serverless/
.fusebox/
.dynamodb/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Misc
.tern-port